
div {
    border-style: solid;
    margin-top: 100px;
    margin-left: 500px;
    margin-right: 500px;

}
.logout1{
    margin-top: 30px;
    background-color:Tomato;
    border: none;
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    margin: 5px 4px;
    cursor: pointer;
    border-radius: 4px;
}

button{
	margin-top: 30px;
	background-color: #4CAF50;
    border: none;
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    margin: 5px 4px;
    cursor: pointer;
    border-radius: 4px;
}
h1{
    color: red;
    
}
.td{
    margin-left: 40px;
}
table{
    padding-top: 40px;
    padding-right: 30px;
    padding-left: 30px;
    padding-bottom:40px;
}

.mails_output {
    padding: 20px;
    border-style: solid;
    margin-top: 100px;
    margin-left: 500px;
    margin-right: 500px;

}
table th td{
    border: 1px solid;

}
#table_td{
    border-style: solid;
    
}